body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f8f8;
  color: #333;
}

.App {
  text-align: center;
}
:root {
  --bg: transparent;
  --text: #fffdfd;   /* general fallback for most pages */
  --hover-bg: #eaf6ff;
  --accent: #007acc;
  --name-color: #f8f6f6fa; /* fallback black for names */
  --card: rgba(255, 255, 255, 0.72); /* translucent light card */
}

.dark-mode {
  --bg: #1e1e1e;
  --text: #f0f0f0;   /* light text for dark mode */
  --hover-bg: #333;
  --accent: #4dc3ff;
  --name-color: #ffffff;
  --card: rgba(17, 17, 17, 0.55); /* translucent dark card */
}


/* 
:root {
  --bg: transparent;
  --text: #222222;
  --hover-bg: rgba(255, 255, 255, 0.1);
  --hover-bg: #eaf6ff;
  --accent: #007acc;
  --name-color: #f7f0f0;
}


.dark-mode {
  --bg: #1e1e1e;
  --text: #f0f0f0;
  --hover-bg: #333;
  --accent: #4dc3ff;
  --name-color: #ffffff;
} */

html {
  scroll-behavior: smooth;
}

/* App.css or global.css */
.vanta-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* ensures background stays behind content */
}

